extends layout

block content
  h1 Accelerometer Controler
  p Tilt the device!
  script(type='text/javascript',src='/javascripts/jquery-2.1.0.min.js')
  script(type='text/javascript',src='/javascripts/controller.js')
  script(type='text/javascript',src='/socket.io/socket.io.js')